In [1]:
import pandas as pd
import numpy as np

In [3]:
columns = ['symbol', 'date', 'open', 'measure_midday', 'measure_afternoon', 'close', 'volume']
acciones = { 
    'symbol': range(0,15,1),
    'date': ['20190521', '20190522', '20190521', '20190521', '20190522', 
             '20190522', '20190523', '20190523', '20190524', '20190528',
             '20190601', '20190601', '20190529', '20190529', '20190530'],
    'open': [20, 21, 10, 42, 35,
             12, 23, 7, 8, 31,
             23, 50, 11, 43, 35]
    'measure_midday': [25, 24, 15, 49, 32,
                        15, 26, 27, 65, 34,
                         20, 20, 15, 4, 42],
    'measure_afternoon': np.random.randint(1,100, size=15),
    'close': np.random.randint(1,100, size=15),
    'volume': np.random.randint(1,50, size=15), 
}


df =  pd.DataFrame(acciones, columns=columns)

In [29]:
acc =    {'symbol': [1, 1, 1, 4, 4, 4,
                                   8, 10, 10, 12, 50],
                        'date': ['20180509', '20190101', '20180304', 
                                 '20180509', '20190101', '20180304',
                                 '20181002', 
                                 '20190101', '20180304', 
                                 '20190402', 
                                 '20190402'],
                        'open': [100, 200, 300, 200, 250, 305,
                                 400, 500, 300, 220, 201],
                            'measure_midday': [150, 250, 230, 450, 540, 300,
                                               400, 200, 100, 123, 235],
                            'measure_afternoon': [120, 270, 330, 500, 560, 200, 
                                                  300, 450, 202, 200, 300],
                            'close': [105, 300, 400, 600, 720, 500, 
                                      3000, 200, 200, 300, 400],
                            'volume': [20, 10, 20, 30, 21, 20,
                                       10, 30, 30, 42, 40] }
acciones = pd.DataFrame(acc)


syp = pd.DataFrame({
                        'symbol': [1, 3, 4, 18, 10],
                        'company_name': ['pepe', 'pepe1', 'pepe2', 'pepe120', 'pepe3000']
    
                    })

In [ ]:
# nombre accion indicado en campo symbol, volumen operado por ese dia
# calcular el valor diario del indice de s_p, se calcula como el promedio del valor promedio de las mdiciones que tuvo cada accion ese dia para las acciones que se encuentran en s_p
# resultado en (date, index_name, value)

In [21]:
acciones.head()

   symbol      date    prom
0       1  20180509  118.75
1       1  20190101  255.00
2       1  20180304  315.00
3       4  20180509  437.50
4       4  20190101  517.50

In [30]:
acciones['value']= (acciones['open']+acciones['measure_midday']+acciones['measure_afternoon']+acciones['close']) /4
acciones = acciones.drop(columns=['open', 'close', 'measure_midday', 'measure_afternoon', 'volume'])

In [31]:
merge = acciones.merge(syp, on='symbol', how='inner')

In [37]:
merge = merge.groupby('date').agg({'value': 'mean'})
merge['index_name'] = 's&p500'

In [38]:
merge.head()

               value index_name
date
20180304  280.583333     s&p500
20180509  278.125000     s&p500
20190101  370.000000     s&p500

In [39]:
merge.columns

Index(['value', 'index_name'], dtype='object')