2) La Agencia Nacional de Estadísticas de Buenos Aires recolecta información de nacimientos cuando los padres registran a sus hijos en el registro civil a partir de una encuesta. Esa información se encuentra disponible para su análisis en un csv con el siguiente formato

(dia_nacimiento, mes_nacimiento, anio_nacimiento, peso_al_nacer, longitud_al_nacer, id_hospital, tipo_parto), donde el tipo de parto 1 es natural y 2 es cesárea.

Por otro lado la agencia cuenta con información histórica de los hospitales en otro csv con siguiente formato (id_hospital, dirección, promedio_nacimientos_mensual).

Se pide usar Pandas para:
a) Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales.
b) Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016.
(****) (15 pts)

In [1]:
import pandas as pd

In [14]:
hijos = {'dia': [1,1,1,1,1, 1,1,2,1,1],
        'mes': [10,11,10,9,10, 10,12,10,10,9],
        'anio': [2017,2016,2017,2016,2017, 2017,2016,2016,2017, 2017],
        'peso': [20,20,20,20,20, 20,20,20,20,20],
        'longitud': [30,30,30,30,30,30,30,30,30,30],
        'id_hospital': [1,2,3,4,3, 1,1,2,2,2],
        'tipo_parto': [2,2,2,1,1, 2,2,2,2,2]}

In [11]:
hospital = {'id_hospital': [1,2,3,4],
           'prom_nac_mensual': [1,2,4,1]}
hos = pd.DataFrame(hospital)

In [15]:
nac = pd.DataFrame(hijos)

In [16]:
nac1 = nac.loc[(nac['mes'] == 10) & (nac['anio'] ==2017)]
nac2 = nac1.groupby('id_hospital').size().rename('cantidad_nacimientos')
nac2

id_hospital
1    2
2    1
3    2
Name: cantidad_nacimientos, dtype: int64

In [17]:
join = hos.merge(nac2, on='id_hospital', how='inner')
join

   id_hospital  prom_nac_mensual  cantidad_nacimientos
0            1                 1                     2
1            2                 2                     1
2            3                 4                     2

In [18]:
fin = join.loc[join['prom_nac_mensual'] <join['cantidad_nacimientos'] ]
fin

   id_hospital  prom_nac_mensual  cantidad_nacimientos
0            1                 1                     2

In [64]:
nac_oct = nac.loc[(nac['mes'] == 10) & ((nac['anio'] ==2017) | (nac['anio'] ==2016))]
nac_oct

   dia  mes  anio  peso  longitud  id_hospital  tipo_parto
0    1   10  2017    20        30            1           2
2    1   10  2017    20        30            3           2
4    1   10  2017    20        30            3           1
5    1   10  2017    20        30            1           2
7    2   10  2016    20        30            2           2
8    1   10  2017    20        30            2           2

In [65]:
nac_oct = nac.loc[(nac['mes'] == 10) & ((nac['anio'] ==2017) | (nac['anio'] ==2016))]
nac_oct2 = nac_oct.groupby(['anio']).tipo_parto.agg(lambda x: (x==2).mean())
# n3 = nac_oct2.pivot_table(columns='anio', values='tipo_parto')
nac_oct2

anio
2016    2.0
2017    1.8
Name: tipo_parto, dtype: float64

In [60]:
if (nac_oct2[2016] < nac_oct2[2017]):
    print("se incremento")
else:
    print("no se incremento")

no se incremento